<div class="flex-container">
  <div class="impressum-container">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
      Christian Wimmer<br />
      Partyband Casablanca<br />
      Am Bahndamm 25<br />
      85469 Walpertskirchen
    </p>

    <h2>Kontakt</h2>
    <p>
      Telefon: 0152 03419607<br />
      E-Mail: info@casablanca-band.com
    </p>

    <h2>EU-Streitschlichtung</h2>
    <p>
      Die Europ&auml;ische Kommission stellt eine Plattform zur
      Online-Streitbeilegung (OS) bereit: <a
        href="https://ec.europa.eu/consumers/odr/"
        target="_blank"
        rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a
      >.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.
    </p>

    <h2>
      Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    </h2>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
      einer Verbraucherschlichtungsstelle teilzunehmen.
    </p>

    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
  </div>
</div>

<style lang="scss">
  @import "../assets/stylesheets/setup";
  h1,
  h2 {
    color: $accent-color;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .impressum-container {
    font-family: "Poppins", sans-serif;
    max-width: 44rem;
    margin-inline: 2rem;
  }
</style>
