---
import Hero from "../components/Hero.vue";
import Cta from "../components/Cta.vue";
import Obere from "../components/Obere.astro";
import Musiker from "../components/Musiker.vue";
import Repertoire from "../components/Repertoire.astro";
import Gallery from "../components/Gallery.vue";
import Footer from "../components/Footer.vue";

import "../assets/stylesheets/global.scss";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Casablanca Hochzeits- und Partyband aus München. Mit 100% Live-Musik machen wir Euer Event zum unvergesslichen Erlebnis!!!"
    />
    <title>Casablanca Liveband</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Hero />
    <Obere />
    <Musiker client:idle />
    <Repertoire />
    <Gallery />
    <Footer client:idle />
  </body>
</html>
