---
const { title, musician, ytLink } = Astro.props;
import "../assets/stylesheets/global.scss";
---

<script>
  const handlePlayClick = (event) => {
    if (event.target.tagName === "svg") {
      event.target.style.display = "none";
      const pauseBtn = event.target.parentElement.childNodes[1];
      console.log(pauseBtn);
    } else if (event.target.tagName === "path") {
      event.target.parentElement.style.display = "none";
      const pauseBtn = event.target.parentElement.parentElement.childNodes[1];
      console.log(pauseBtn);
    }
  };

  // const handlePauseClick = (event) => {

  // };

  const playBtns = document.querySelectorAll("#play");
  playBtns.forEach((playBtn) => {
    playBtn.addEventListener("click", handlePlayClick);
  });

  // const pauseBtns = document.querySelectorAll("#play");
  // pauseBtns.forEach((pauseBtn) => {
  //   pauseBtn.addEventListener("click", handlePauseClick);
  // });
</script>

<article class="hörproben-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMidYMid meet"
    viewBox="0 0 1024 1024"
    class="play-btn"
    id="play"
  >
    <path
      fill="currentColor"
      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm144.1 454.9L437.7 677.8a8.02 8.02 0 0 1-12.7-6.5V353.7a8 8 0 0 1 12.7-6.5L656.1 506a7.9 7.9 0 0 1 0 12.9z"
    ></path>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="pause-btn"
    preserveAspectRatio="xMidYMid meet"
    viewBox="0 0 1024 1024"
    ><path
      fill="currentColor"
      d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm-80 600c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V360c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v304zm224 0c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V360c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v304z"
    ></path>
  </svg>

  <iframe
    width="10"
    height="10"
    class="video-iframe"
    src={ytLink}
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>

  <div v-else class="playbutton-placeholder"></div>
  <h2 class="title">{title}</h2>
  <p class="musician">{musician}</p>
</article>

<style lang="scss">
  @import "../assets/stylesheets/setup";

  .hörproben-container {
    display: flex;
    background-color: $accent-color;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    position: relative;

    .play-btn {
      width: 2rem;
      cursor: pointer;
      margin-right: 0.5rem;
      flex: none;
      z-index: 1;
    }
    .pause-btn {
      width: 2rem;
      cursor: pointer;
      margin-right: 0.5rem;
      flex: none;
      z-index: 1;
      display: none;
    }

    .video-iframe {
      position: absolute;
    }

    .playbutton-placeholder {
      width: 2rem;
      height: 2rem;
    }
    .title {
      font-size: 1rem;
      line-height: 1.4;
    }
    .musician {
      opacity: 0.8;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.4;
      margin-left: auto;
      text-align: right;
      max-width: 6rem;
    }
  }
</style>
