---
import hörproben from "../data/hörproben.json";
import "../assets/stylesheets/global.scss";
import { Icon } from "astro-icon";
---

<div class="grid-flex-wrapper">
  <div class="repertoire-container">
    <div class="rubrik">
      <h2 class="rubrik-title">Zum Kuscheln</h2>
      <div class="hörproben-column">
        {
          hörproben
            .filter((hörprobe) => {
              return hörprobe.kategorie === "Zum Kuscheln";
            })
            .map((hörprobe) => (
              <article class="hörproben-container">
                {(hörprobe.link && (
                  <a href={hörprobe.link} target="_blank">
                    <Icon name="fa:youtube-play" />
                  </a>
                )) || <div class="link-placeholder" />}
                <h2 class="title">{hörprobe.titel}</h2>
                <p class="musician">{hörprobe.künstler}</p>
              </article>
            ))
        }
      </div>
    </div>
    <div class="rubrik">
      <h2 class="rubrik-title">Zum Party Machen</h2>
      <div class="hörproben-column">
        {
          hörproben
            .filter((hörprobe) => {
              return hörprobe.kategorie === "Zum Party Machen";
            })
            .map((hörprobe) => (
              <article class="hörproben-container">
                {(hörprobe.link && (
                  <a href={hörprobe.link} target="_blank">
                    <Icon name="fa:youtube-play" />
                  </a>
                )) || <div class="link-placeholder" />}
                <h2 class="title">{hörprobe.titel}</h2>
                <p class="musician">{hörprobe.künstler}</p>
              </article>
            ))
        }
      </div>
    </div>
    <div class="rubrik">
      <h2 class="rubrik-title">Zum Tanzen und Lustig-Sein</h2>
      <div class="hörproben-column">
        {
          hörproben
            .filter((hörprobe) => {
              return hörprobe.kategorie === "Zum Tanzen und Lustig-Sein";
            })
            .map((hörprobe) => (
              <article class="hörproben-container">
                {(hörprobe.link && (
                  <a href={hörprobe.link} target="_blank">
                    <Icon name="fa:youtube-play" />
                  </a>
                )) || <div class="link-placeholder" />}
                <h2 class="title">{hörprobe.titel}</h2>
                <p class="musician">{hörprobe.künstler}</p>
              </article>
            ))
        }
      </div>
    </div>
    <div class="rubrik">
      <h2 class="rubrik-title">Zum "Aus-Der-Haut-Fahren"</h2>
      <div class="hörproben-column">
        {
          hörproben
            .filter((hörprobe) => {
              return hörprobe.kategorie === "Zum Aus-Der-Haut-Fahren";
            })
            .map((hörprobe) => (
              <article class="hörproben-container">
                {(hörprobe.link && (
                  <a href={hörprobe.link} target="_blank">
                    <Icon name="fa:youtube-play" />
                  </a>
                )) || <div class="link-placeholder" />}
                <h2 class="title">{hörprobe.titel}</h2>
                <p class="musician">{hörprobe.künstler}</p>
              </article>
            ))
        }
      </div>
    </div>
    <p class="testimonials-info">
      Wollt ihr mehr von uns hören/sehen? Meldet Euch bei uns. Gerne senden wir
      Euch Live-Videos von unseren Auftritten zu.
    </p>
    <h1 class="referenzen-title">Referenzen</h1>
  </div>
</div>

<style lang="scss">
  @import "../assets/stylesheets/setup";

  .grid-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
  }

  .repertoire-container {
    color: $accent-color;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 44rem;
    margin-inline: 2rem;

    @media (min-width: $bp-sm) {
      grid-template-columns: 1fr 1fr;
    }

    .rubrik-title {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1rem;
    }

    .hörproben-column {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .hörproben-container {
    display: flex;
    background-color: $accent-color;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: 1rem;

    .title {
      font-size: 1rem;
      line-height: 1.4;

      @media (min-width: $bp-sm) {
        max-width: 10rem;
      }
    }

    .musician {
      opacity: 0.8;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.4;
      margin-left: auto;
      text-align: right;

      @media (min-width: $bp-sm) {
        max-width: 6rem;
      }
    }

    .link-placeholder {
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
    }

    [astro-icon="fa:youtube-play"] {
      width: 2rem;
      color: white;
      margin-right: 0.8rem;
      flex: none;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .referenzen-title {
    font-size: 1rem;
    grid-column-start: 1;
    grid-colume-end: -1;
  }
  .testimonials-info {
    grid-column-start: 1;
    grid-column-end: -1;
    line-height: 1.4;
    text-align: center;
  }
</style>
