---
import "../assets/stylesheets/global.scss";
import Hörprobe from "../components/Hörprobe.astro";
---

<div class="grid-flex-wrapper">
  <div class="repertoire-container">
    <div class="rubrik kuscheln">
      <h2 class="rubrik-title">Zum Kuscheln</h2>
      <div class="hp-container">
        <Hörprobe title="Zam oid wearn" musician="Edmund" />
        <Hörprobe title="Shallow" musician="Br Cooper & Lady Gaga" />
        <Hörprobe title="So liab hob i di" musician="Andreas Gabalier" />
        <Hörprobe
          title="Just give me a reason"
          musician="Pink feat. Nate Ruess"
        />
        <Hörprobe title="Love on the brain" musician="Rihanna" />
        <Hörprobe
          title="You are the sunshine of my life"
          musician="Stevie Wonder"
        />
        <Hörprobe title="Ohne Dich" musician="Münchner Freiheit" />
      </div>
    </div>
    <div class="rubrik party">
      <h2 class="rubrik-title">Zum Party Machen</h2>
      <div class="hp-container">
        <Hörprobe
          title="Westerland"
          musician="Die Ärzte"
          ytLink="https://www.youtube.com/embed/mxDqVd7f5TU"
        />
        <Hörprobe title="Atemlos" musician="Helene Fischer" />
        <Hörprobe title="Simply the best" musician="Tina Turner" />
        <Hörprobe title="Expresso & Tschianti" musician="Josh" />
        <Hörprobe title="Long Train Running" musician="Doobie Brothers" />
        <Hörprobe title="Mit 66 Jahren" musician="Udo Jürgens" />
        <Hörprobe title="Fuck you" musician="Cee Lo Green" />
        <Hörprobe title="Ein Kompliment" musician="Sportfreunde Stiller" />
      </div>
    </div>
    <div class="rubrik tanzen">
      <h2 class="rubrik-title">Zum Tanzen und Lustig-Sein</h2>
      <div class="hp-container">
        <Hörprobe title="A night like this" musician="Caro Emerald" />
        <Hörprobe title="Stumblin' in" musician="Suzy Quatro & Chris Norman" />
        <Hörprobe title="It's so easy" musician="Linda Ronstadt" />
        <Hörprobe
          title="Can’t take my eyes off of you"
          musician="Gloria Gaynor feat. Hermes House Band"
        />
        <Hörprobe title="Paradise" musician="George Ezra" />
        <Hörprobe title="Vincent" musician="Sarah Connor" />
        <Hörprobe title="Up" musician="Olly Murs feat. Demi Lovato" />
      </div>
    </div>
    <div class="rubrik haut">
      <h2 class="rubrik-title">Zum "Aus-Der-Haut-Fahren"</h2>
      <div class="hp-container">
        <Hörprobe title="Highway to hell" musician="ACDC" />
        <Hörprobe title="Final Countdown" musician="Europe" />
        <Hörprobe title="We will rock you" musician="Queen" />
        <Hörprobe title="Rockin all over the world" musician="Status Quo" />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../assets/stylesheets/setup";

  .grid-flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
  }

  .repertoire-container {
    color: $accent-color;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 44rem;
    margin-inline: 2rem;

    @media (min-width: $bp-sm) {
      grid-template-columns: 1fr 1fr;
    }

    .rubrik-title {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1rem;
    }

    .hp-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
</style>
